:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --base-color-logo: #2196f3;
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --background-footer-color: #2f303a;
  --color-icons: #afb1b8;
}
