.button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: none;

  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: inline-block;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
// кнопка "Подписаться"
.email__button {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.email__button:hover,
.email__button:focus {
  background-color: var(--button-active-color);
}
/* кнопки портфоліо */
.buttons__portfolio {
  display: inline-block;
  padding: 6px 22px;
  min-width: 73px;
  border-radius: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #f5f4f4;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__portfolio:hover {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons__portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .buttons__nav .buttons__portfolio.curent { 
  background-color: var(--accent-color);
}
*/
.buttons__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 0px;
  list-style: none;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons__nav:not(:last-child) {
  margin-right: 8px;
}
