/* хедер-контакти */
.contact {
  @media screen and (max-width: 767.98px) {
    // display: flex;
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-top: 21px;
    margin-bottom: 21px;
    padding: 0px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-left: 0px;
    margin: 0px;
  }
}
.contact__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
}

// .contact .contact__item + .contact__item {
// margin-left: 50px;
// }
.contact__date {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 16px;
  }

  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .contact__date:hover,
.contact .contac__date:focus {
  color: var(--accent-color);
}
/* Іконки-контакти */
.contact__date .icon {
  margin-right: 10px;
  fill: currentColor;
}
