// модалка
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  @media screen and (max-width: 1199.98px) {
    min-width: 450px;
    min-height: 609px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;

  margin-top: 8px;
  margin-right: 8px;

  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:focus,
.modal__btn-close:hover {
  fill: #ffffff;
  background-color: var(--accent-color);
}
.modal__icon {
  height: 11px;
  width: 11px;
}
/* форма */
.form {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 40px;
}
.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  margin-bottom: 12px;
  color: var(--title-text-color);
}
.form__data {
  flex-direction: column;
  margin-bottom: 10px;
}
.form__lable {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus,
.form__input:hover {
  border: 1px solid var(--accent-color);
}
.form__data-input {
  position: relative;
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon {
  fill: var(--accent-color);
}
.form__coment {
  width: 100%;
  height: 120px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  resize: none;
  cursor: pointer;
}
.form__coment:hover,
.form__coment:focus {
  border: 1px solid var(--accent-color);
}
.policy__checkbox {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
}
.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid black;
  border-radius: 4px;
}
.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__checkbox:checked + .checkbox__icon {
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../image/icons/check.svg);
}

.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;

  margin-top: 25px;
  padding: 10px 55px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  border: none;
  border-radius: 4px;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__button:hover,
.form__button:focus {
  background-color: #188ce8;
}
.form__link {
  margin-left: 10px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: underline;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
