/* Наші клієнти */

.our-clients__link {
  width: 170px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--color-icons);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__link:hover,
.our-clients__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.our-clients-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.our-clients__item:not(first-child) {
  margin-right: 30px;
}
.our-clients__item {
  margin: 0;
  padding: 0;
}
