/* Іконки */
.social {
  display: flex;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.social__icon {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  fill: var(--color-icons);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:not(first-child) {
  margin-right: 10px;
}

.social__icon:hover {
  background-color: var(--accent-color);
  fill: var(--background-color);
  border-radius: 50%;
}

/* Іконки футера-Приєднюйтесь */
.footer__network {
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__network-title {
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer__icon {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.footer__icon:not(:last-child) {
  margin-right: 10px;
}
.footer__svg {
  fill: var(--background-color);
}
.footer__network-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__network-link:hover,
.footer__network-link:focus {
  background-color: var(--accent-color);
}
.footer__network-icon {
  padding: 0%;
  margin: 0px;
}
