/* Секція footer */
.section-footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-footer .adress {
  color: #ffffff;
  text-decoration: none;
}
.section-footer .contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-studio {
  display: inline-block;
  /* flex-basis: calc((50%-45px) / 2); */
}
.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.container .footer {
  padding: 60px 0px;
}

.footer-contacts {
  margin-top: 20px;
}

/* Футер-Підписатися на розсилку */
.footer__email {
  display: flex;
  align-items: baseline;
}

.footer__email-input {
  width: 358px;
  padding: 15px;
  line-height: 1.25;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-footer-color);
  border-radius: 4px;
}

.footer__email-icon {
  margin-left: 10px;
  fill: #ffffff;
}
