/* Секція footer */
.section-footer {
  background-color: var(--background-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__address {
  font-size: 14px;
  line-height: 2;
  color: #ffffff;
  font-style: normal;
  padding-left: 0px;
  margin-bottom: 9px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__data {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.footer__contacts {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover,
.footer__address:focus,
.footer__contacts:hover,
.footer__contacts:focus {
  color: var(--accent-color);
}
.footer-studio {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-right: 165px;
    margin-bottom: 60px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
  // display: inline-block;
  /* flex-basis: calc((50%-45px) / 2); */
}
.footer {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer {
  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

// .container .footer {
// padding: 60px 0px;
// }

// .footer-contacts {
// margin-top: 20px;
// }

/* Футер-Підписатися на розсилку */
.footer__email {
  @media screen and (min-width: 480px) and (max-width: 1199.98px) {
    display: inline-block;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer__email-input {
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    height: 50px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
  }

  padding: 15px;
  line-height: 1.25;

  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-footer-color);
  border-radius: 4px;
}

.footer__email-icon {
  margin-left: 10px;
  fill: #ffffff;
}
