/* хедер-новігація */

.header {
  /* background-color: rgb(204, 204, 204); */
  border-bottom: 1px solid #ececec;
  /* padding-top: 24px; */
  /* padding-bottom: 25px; */
}
/* контейнер навігації */
.main-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav {
  display: inline-flex;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  /* /* display: block;  */
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: inline-block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
}
