/* Секція портфоліо */
.design {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.design__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.design__description {
  font-size: 16px;
  line-height: 1.87;
}

.portfollio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  margin-left: -30px;
  margin-top: -30px;
}

.project {
  color: var(--contact-header-color);
  display: block;
  text-decoration: none;
}
.project:hover,
.project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfollio-item {
  margin-left: 30px;
  margin-top: 30px;
  @media screen and (max-width: 767.98px) {
    width: 100%;
    max-width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc(100% / 2 - 30px);
    max-width: 354px;
    height: 440px;
  }
}

.design {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
