/* Наша команда */
.team {
  padding: 0px;
  margin: 0px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin-right: -30px;
    margin-bottom: -30px;

    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;

    margin-right: 0px;

    justify-content: center;
  }
}

.comand {
  background-color: var(--second-background-color);
}
.comand .section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__item {
  // flex-basis: calc((100% - 3 * 30px) / 3);
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    flex-basis: calc((100% - 3 * 30px) / 2);
    margin-left: 30px;
    margin-top: 50px;
  }
}
.team__item:not(:last-child) {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 30px;
  }
}
.team__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.grid__team {
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.manager__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.manager__position {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  margin-top: 10;
  /* margin-bottom: 0; */
}
.manager {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 24px;

  text-align: center;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
